<p>edit-memo works!</p>
<form #memoForm="ngForm">
    <span class="p-float-label">
    <input pInputText id="title" [(ngModel)]="title" />
    <label htmlFor="title">Title</label>
</span>

<span class="p-float-label">
    <input pInputText id="url" [(ngModel)]="url" />
    <label htmlFor="url">URL</label>
</span>

<span class="p-float-label">
    <input pInputText id="description" [(ngModel)]="description" />
    <label htmlFor="description">Description</label>
</span>
<button type="button" class="btn btn-default" (click)="updateMemo(); memoForm.reset()">Add Memo</button>
</form>
