<p-virtualScroller [value]="memos" scrollHeight="450px" [itemSize]="100" [lazy]="true" >
    <ng-template pTemplate="header"> List of Memos </ng-template>
    <ng-template let-memo pTemplate="item">
        <div class="flex align-items-center p-3 w-full flex-wrap">
            <div class="flex-1">
                <h5 class="mb-2 text-base">{{ memo.title }}</h5>
            </div>
        </div>
    </ng-template>
    <ng-template let-memo pTemplate="loadingItem">
        <div class="flex align-items-center p-3 w-full flex-wrap loading-item">
        </div>
    </ng-template>
</p-virtualScroller>