<p-scrollPanel [style]="{width: '100%', height: '100%'}">
    <div *ngFor="let memo of memos"class="p-2">
        <div class="flex flex-grow-1 bg-blue-700 p-2 border-round">
            <div class="flex flex-grow-1 flex-column flex-nowrap">
                <p-fieldset legend={{memo.title}} [toggleable]="true" [collapsed]=true>
                    <div class="flex flex-column flex-nowrap">
                    <p class="m-0">
                        {{memo.details}}
                    </p>
                    <a href={{memo.url}} *ngIf='memo.url !== undefined'  target="_blank" rel="noopener noreferrer">{{ memo.url }}</a>
                    <label class="text-base">Last edited: {{memo.date| date : 'medium'}}</label>
                    </div>
                </p-fieldset>
            </div>
            <div class="flex flex-column flex-nowrap align-items-center">
                <p-button label="Edit" icon="pi pi-pencil" (onClick)="update(memo)" size="small"></p-button>
                <p-button label="Delete" icon="pi pi-trash" (onClick)="delete($event, memo)" size="small"  severity="danger"></p-button>
            </div>
        </div>
    </div>
</p-scrollPanel>
<label *ngIf="!hasMemos">
Add your first memo to the list
</label>
<p-confirmDialog></p-confirmDialog>